:root {
  box-sizing: border-box;
  font-size: calc(100vw / 10);
}

:root:root {
  --van-back-top-background: rgba(25, 137, 250, 0.5);
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  background-color: #eee;
  font-family: Helvetica, Arial, sans-serif;
}

body * + * {
  margin-top: 1.5em;
}

/* 移除猫头鹰选择器设置的顶部外边距 */
body * + *[class^='van-'],
body > * + *,
#map-container > * + * {
  margin-top: 0;
}
