:root {
  box-sizing: border-box;
  font-size: 10vw;

  /* 屏幕边缘间隔 */
  --default-padding-start: 12px;
  --max-padding-start: 24px;
  --default-padding-end: var(--default-padding-start);
  --max-padding-end: var(--max-padding-start);
  --default-padding-top: 24px;
  --default-padding-bottom-fixed: 24px;

  /* 普通双行及以上文本中，主次文本间隔 */
  --text-margin-vertical: 2px;
  --text-margin-horizontal: 8px;

  /* 段落间间隔 */
  --text-paragraph-margin-xl: 48px;
  --text-paragraph-margin-l: 24px;
  --text-paragraph-margin-m: 16px;
  --text-paragraph-margin-s: 8px;
  --text-paragraph-margin-xs: 4px;

  /* 卡片间间隔 */
  --space-elements-card: 12px;

  /* 一般控件间间隔 */
  --elements-margin-vertical-l: 16px;
  --elements-margin-vertical-m: 8px;
  --elements-margin-horizontal-l: var(--elements-margin-vertical-l);
  --elements-margin-horizontal-m: var(--elements-margin-vertical-m);
}

:root:root {
  --van-back-top-background: rgba(25, 137, 250, 0.5);
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  background-color: #eee;
  font-family: Helvetica, Arial, sans-serif;
}

body * + * {
  margin-top: 1.5em;
}

/* 移除猫头鹰选择器设置的顶部外边距 */
body * + *[class^='van-'],
body * + *[class^='ant-'],
body > * + *,
.map-container * + * {
  margin-top: 0;
}

.block__title {
  margin: 0;
  padding: 32px 16px 16px;
  color: #969799;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.block__content {
  padding: 0 16px;
  color: #969799;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
