:root {
  box-sizing: border-box;
  font-size: calc(100vw / 10);
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  background-color: #eee;
  font-family: Helvetica, Arial, sans-serif;
}

body * + * {
  margin-top: 1.5em;
}

/* 移除猫头鹰选择器设置的顶部外边距 */
body * + *[class^='van-'] {
  margin-top: 0;
}
